
body {
	font-family: 'Open Sans', sans-serif;
	padding-top: 0px;
	background-color: #FFFFFF;
}

#post{
	color: green;
	margin-left:50px;
}

.logo{ 
	width:70%;
	float:left; 
	overflow:hidden;
	
	
}
.logo img{	
	width:300px;
	height:100px;
}
.mid{
	height:30px;
}
.menu{ 
	width:100%;
	float:right; 
	overflow:hidden;
	margin:2px;
}
.menu buton-right{ 
	float:left;
}
.menu li a:hover{
	color:#FD5C63;
}
.btn{ 
	width:30%;
}
.btn li{
	display:inline-block;
}

.btn li a{
	text-decoration:none;
	list-style:none;
	overflow: hidden;
	display: block;
	font-size:16px;
	font-weight:normal;
	text-transform:uppercase;
	border-style: solid;
	border-radius: 5px;
	border-width: 4px;
	border-color: #788CB6;
}
.btn li a:hover{
	color:#FD5C63;
}

////////////////
.mid1{ 
	width:80%;
	margin:auto; 
	background-color:#FFF;
	padding:0px 0px;
	display:inline-block;
}

.header1{ 
	background-color:#2AD2C9;
	height: 142px;
}
.header1:after{ 
	content:'';
	display:block; 
	clear:both; 
}

.logo1{ 
	width:30%;
	float:left; 
	overflow:hidden;
	margin-top: 10px;
}

.logo1 a:hover{ 
	text-decoration: none;
}

.menu1{ 
	width:70%;
	float:left; 
	overflow:hidden;
	height:-1px;
}
.menu1 ul{ 
	text-align: left;
}

.menu1 ul li{ 
	display:inline-block; 
	
}

.menu1 ul li a{ 
	padding:10px 15px;
	display:block;
	color:#286090;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	font-weight:normal;
	text-transform:uppercase;
	
}
.menu1 ul li:hover a{ 
	color:#F47721;
	text-decoration: none;
}







.navbar {
	position: fixed;
	margin-bottom: 0px;
	background-color: #00A7D4;
	padding: 15px 15px 15px 0px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.navbar img {
	max-width:120%; 
	height:120%;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.cbp-af-header-shrink {
	position: fixed;
	padding-top: 2px;
	padding-bottom: 2px;
	opacity: 0.9;
}
 
.cbp-af-header-shrink img {
	max-width:100%; 
	height:100%;
} 

.home-flash {
	float: right;
}
 
.footer-info p {
    color: #888;
    text-align: center;
    padding: 10px 0;
    line-height: 20px;
    display: block;
    clear: both;
}

 /* Post Your Ads button */
.btn-ads {
	border: none;
	font-family: inherit;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	outline: none;
	position: relative;
	transition: all 0.3s;
}

.btn-ads:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-2 {
	background: #3BE8B0;
	color: #333333;
	border-radius: 20px;
}

.btn-icon-only {
	font-size: 200%;
	padding: 5px 20px;
}

.btn-2a {
	overflow: hidden;
	float:right;
}


.btn-2a:after {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 0;
	width: 0;
	background: #0a833d;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-2a.btn-activated:after {
	-webkit-animation: fillToRight 0.7s forwards;
	-moz-animation: fillToRight 0.7s forwards;
	animation: fillToRight 0.7s forwards;
}

.btn-signin{
	background-color: #00A7D4;
	border-color: #014B62;
}

.btn-signin:hover {
    color: #00A7D4;
    background-color: #014B62;
    border-color: #fff;
}

@-webkit-keyframes fillToRight {
	to { 
		width: 100%;
	}
}

@-moz-keyframes fillToRight {
	to { 
		width: 100%;
	}
}

@keyframes fillToRight {
	to { 
		width: 100%;
	}
}
 
 .login_modal_footer{margin-top:5px;}
.login_modal_header .modal-title {text-align: center;font-family:'Philosopher',sans-serif; }
.form-group{position: relative;}
.form-group .login-field-icon {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 3px;
    transition: all 0.25s ease 0s;
    padding-top: 2%;
}
.login-modal{
    width:100%;
    padding-bottom:20px;
}
.login_modal_header, .login_modal_footer {background: #00BB64 !important;color:#fff;}
.modal-register-btn{margin: 4% 0% 2% 0% ;width:100%; text-align: center;}
.login-modal input{height:40px; box-shadow: none; border:1px solid #ddd;}
.modal-body-left{float:left; width:50%; padding-right:4%; border-right:4px solid #ddd;}
.modal-body-right{float:right; width:47%;}
.login-link{padding:0 20%;}
.modal-social-icons{padding:0 10%;}
.facebook, .twitter, .google, .linkedin {width:100%;height:40px; padding-top:2%; margin-top:2%;}
.modal-icons{margin-left: -6%; margin-right: 11%;}
.google, .google:hover{background-color:#dd4b39;border:0px solid #dd4b39;color:#fff;}
.twitter, .twitter:hover{ background-color: #00aced; border:0px solid #00aced;color: #fff;}
.facebook, .facebook:hover{background-color: #3b5999; border:0px solid #3b5999;color:#fff;}
.linkedin, .linkedin:hover{background-color: #007bb6; border: 0px solid #007bb6; color:#fff;}
#social-icons-conatainer{position: relative;}
#center-line{position: absolute;  right: 48%;top: 80px;background:#ddd;  border: 4px solid #DDDDDD;border-radius: 20px;}
.modal-login-btn{width:100%;height:40px; margin-bottom:10px;}



.submit-footer {
	margin: 5% 10%;
}


/* footer */
.full {
    width: 100%;	
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	overflow: hidden;
	display: block;
	height: auto;
	padding-bottom: 20px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
	text-align: center;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 5px 0 10px;
	text-transform: uppercase;
	margin-top: 5px;
    margin-bottom: 10px;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #04253c;
}
.social li {
	background: none repeat scroll 0 0 #46629E;
	border: 2px solid #46629E;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 46px;
	line-height: 42px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 46px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	background-color: #FFFFFF;
}
.social li:hover {
	transform: scale(1.45) rotate(360deg);
	-webkit-transform: scale(1.3) rotate(360deg);
	-moz-transform: scale(1.3) rotate(360deg);
	-ms-transform: scale(1.3) rotate(360deg);
	-o-transform: scale(1.3) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #17aa56;
	background: #b5b5b5;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
}

.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.facebook a i {
	color: #3b5998 !important;
}
.twitter a i {
	color: #55acee !important;
}
.youtube a i {
	color: #cd201f !important;
}
.linkedin a i {
	color: #0077b5 !important;
}
.googleplus a i {
	color: #dc4e41 !important;
}


.about-us p {
	font-size: 14px;
    line-height: 22px;
    font-style: italic;
    text-align: left;
}



.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.nav-logout-header
{
	padding-bottom: 4%;
}

.error-contact-us {
	margin: 0% 9% 0.3% 17%;
}

.error-register {
	margin: 0% 20% 0.3% 0%;
}

.error-login {
	margin: 0% 55% 0.3% 0%;
}

@media screen and (max-width: 580px) {
	.error-contact-us {
		margin: 0 0 0.3% 0;
	}

	.error-register {
		margin: 0 0 0.3% 0;
	}

	.error-login {
		margin: 0 0 0.3% 0;
	}
}

span.arrow-user-list {
    display: inline-block;
    width: 85%;
}

/* Error Animated */
.text {
  fill: none;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear; }
  .text:nth-child(5n + 1) {
    stroke: #F2385A;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s; }
  .text:nth-child(5n + 2) {
    stroke: #F5A503;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s; }
  .text:nth-child(5n + 3) {
    stroke: #E9F1DF;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s; }
  .text:nth-child(5n + 4) {
    stroke: #56D9CD;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s; }
  .text:nth-child(5n + 5) {
    stroke: #3aa1bf;
    -webkit-animation-delay: -6s;
    animation-delay: -6s; }

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400; } }
@keyframes stroke {
  100% {
    stroke-dashoffset: -400; } }


.contenterror {
  font: 800 14.5em/1  'Open Sans', Impact; }
  background: #111;

svg {
  width: 50%;
  margin: 0 auto 50px;
  display: block;
  text-transform: uppercase; }

.details-title {
	font-size: 140%;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 8px;
}

.details-contact {
	text-align: center;
}

.details-contact a {
	font-size:150%;
}

.preview-title {
	text-align: center;
	font-size: 130%;
	font-weight: bold;
	margin: 0 0 5px 0;
}

.preview-setails {
	margin: 5px 5px;
}

.preview-contact {
	margin: 3px 5px;
}

.update-ads {
	font-style: large;
	font-family: monospace;
}

span.category-title {
	font-size: 440%;

}
.bg{
	background-color: #C4DFF6;
}

/* Navmenu */
*,
*:after,
*::before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}

@font-face {
	font-family: 'navmenu';
	src:url('../fonts/navmenu/navmenu.eot');
	src:url('../fonts/navmenu/navmenud41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/navmenu/navmenu.woff') format('woff'),
		url('../fonts/navmenu/navmenu.ttf') format('truetype'),
		url('../fonts/navmenu/navmenu.svg#navmenu') format('svg');
	font-weight: normal;
	font-style: normal;
}

.gn-menu-main {
		margin: 0;
		padding: 0;
		background: #00A7D4;
		color: #00A7D4;
		list-style: none;
		text-transform: none;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		line-height: 60px;
}
.gn-menu-main ul {
		margin: 0;
		padding: 0;
		background: #eee;
		color: #00A7D4;
		list-style: none;
		text-transform: none;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		line-height: 60px;
}

.gn-menu-main {
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		font-size: 13px;
}

.gn-menu-main a {
		display: block;
		height: 100%;
		color: #000;
		text-decoration: none;
		cursor: pointer;
}

.no-touch .gn-menu a:hover,
.no-touch .gn-menu li.gn-search-item:hover,
.no-touch .gn-menu li.gn-search-item:hover a {
		background: #00A7D4;
		color: white;
}

.gn-menu-main > li {
		display: block;
		float: left;
		height: 100%;
		border-right: none;
		text-align: center;
}

.gn-menu > li > a{
		color: black;
}

/* icon-only trigger (menu item) */

.gn-menu-main li.gn-trigger {
		position: relative;
		width: 60px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

.gn-menu-main > li:last-child {
		float: right;
		border-right: none;
		border-left: none;
}

.gn-menu-main > li > a {
		padding: 0px 30px;
		text-transform: uppercase;
		font-weight: bold;
		color: white;
}

.gn-menu-main:after {
		display: table;
		clear: both;
		content: "";
}

.gn-menu-wrapper {
		position: relative;
		top: 0px;
		bottom: 0;
		left: 0px;
		overflow: hidden;
		width: 60px;
		border-top: 1px solid #c6d0da;
		background: transparent; /* Color of background of menu */
		-webkit-transform: translateX(-60px);
		-moz-transform: translateX(-60px);
		transform: translateX(-60px);
		-webkit-transition: -webkit-transform 0.3s, width 0.3s;
		-moz-transition: -moz-transform 0.3s, width 0.3s;
		transition: transform 0.3s, width 0.3s;
}

.gn-scroller {
		position: relative;
		overflow-y: scroll;
		width: 370px;
		height: 100%;
}

.gn-menu {
		border-bottom: 1px solid #c6d0da;
		text-align: left;
		font-size: 18px;
}

.gn-menu li:not(:first-child),
.gn-menu li li {
		box-shadow: inset 0 1px #c6d0da
}

.gn-submenu li {
		margin-left : 12%;
		overflow: hidden;
		height: 0;
		-webkit-transition: height 0.3s;
		-moz-transition: height 0.3s;
		transition: height 0.3s;
}

.gn-submenu li a {
		color: #283b4e;
}

input.gn-search {
		position: relative;
		z-index: 10;
		padding-left: 60px;
		outline: none;
		border: none;
		background: transparent;
		color: #00A7D4;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		cursor: pointer;
}

/* placeholder */

.gn-search::-webkit-input-placeholder {
		color: #00A7D4
}

.gn-search:-moz-placeholder {
		color: #00A7D4
}

.gn-search::-moz-placeholder {
		color: #00A7D4
}

.gn-search:-ms-input-placeholder {
		color: #00A7D4
}

/* hide placeholder when active in Chrome */

.gn-search:focus::-webkit-input-placeholder,
.no-touch .gn-menu li.gn-search-item:hover .gn-search:focus::-webkit-input-placeholder {
		color: transparent
}

input.gn-search:focus {
		cursor: text
}

.no-touch .gn-menu li.gn-search-item:hover input.gn-search {
		color: white
}

/* placeholder */

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-webkit-input-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-moz-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-moz-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-ms-input-placeholder {
		color: white
}

.gn-menu-main a.gn-icon-search {
		position: absolute;
		top: 0;
		left: 0;
		height: 60px;
}

.gn-icon::before {
		display: inline-block;
		width: 60px;
		text-align: center;
		text-transform: none;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-family: 'navmenu';
		line-height: 1;
		speak: none;
		-webkit-font-smoothing: antialiased;
}

.gn-icon-search::before {
		content: "\e001"
}

.gn-icon-home::before {
		content: "\e002"
}

.gn-icon-postad::before {
		content: "\e003"
}

.gn-icon-viewad::before {
		content: "\e004"
}

.gn-icon-houses::before {
		content: "\e005"
}

.gn-icon-rac::before {
		content: "\e006"
}

.gn-icon-employment::before {
		content: "\e007"
}

.gn-icon-contactus::before {
		content: "\e008"
}

.gn-icon-help::before {
		content: "\e009"
}

/* if an icon anchor has a span, hide the span */

.gn-icon span {
		width: 0;
		height: 0;
		display: block;
		overflow: hidden;
}

.gn-icon-menu::before {
		margin-left: -15px;
		vertical-align: -2px;
		width: 30px;
		height: 3px;
		background: #808080;
		box-shadow: 0 3px #00A7D4, 0 -6px #808080, 0 -9px #00A7D4, 0 -12px #808080;
		content: '';
}

.no-touch .gn-icon-menu:hover::before,
.no-touch .gn-icon-menu.gn-selected:hover::before {
		background: #585858;
		box-shadow: 0 3px #00A7D4, 0 -6px #585858, 0 -9px #00A7D4, 0 -12px #585858;
}

.gn-icon-menu.gn-selected::before {
		background: #f5f5f5;
		box-shadow: 0 3px #00A7D4, 0 -6px #f5f5f5, 0 -9px #00A7D4, 0 -12px #f5f5f5;
}

/* styles for opening menu */

.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
}

.gn-menu-wrapper.gn-open-all {
		width: 340px
}

.gn-menu-wrapper.gn-open-all .gn-submenu li {
		height: 60px
}

@media screen and (max-width: 422px) { 
	.gn-menu-wrapper.gn-open-all {
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			transform: translateX(0px);
			width: 100%;
	}

	.gn-menu-wrapper.gn-open-all .gn-scroller {
			width: 130%
	}
}





.tl-icon:before {
	font-family: 'navmenu';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.tl-icon-user:before {
	content: "\e010";
}

@media screen and (max-width: 740px) {

	.tl-icon span {
		display: none;
	}
	.reset-input-text {
		display: none;
	}

}


@media screen and (max-width: 430px) {

	.gn-menu-main li.gn-trigger {
		display: none;
	}

}

@media screen and (max-width: 375px) {

	.gn-menu-main a.imglogo {
		padding-left: 5px;
		padding-right: 5px;
	}
	.gn-menu-main a.signinbar {
		padding-top: 5px;
		padding-left: 1px;
		padding-right: 1px;
	}
}

@media screen and (max-width: 565px) {

	.gn-menu-main li.post-your-ads {
		display: none;
	}

}

/* Menu Icon */
@font-face {
	font-family: 'menu_icon';
	src:url('../fonts/menu_icon/menu_icon.eot');
	src:url('../fonts/menu_icon/menu_icond41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/menu_icon/menu_icon.woff') format('woff'),
		url('../fonts/menu_icon/menu_icon.ttf') format('truetype'),
		url('../fonts/menu_icon/menu_icon.svg#menu_icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.to-let-menu-grid {
	list-style: none;
	padding: 0 0 10px 0;
	margin: 10px;
}

.to-let-menu-grid:before, 
.to-let-menu-grid:after { 
	content: " "; 
	display: table; 
}

.to-let-menu-grid:after { 
	clear: both; 
}
.to-let-menu-grid li {
	width: 20%;
	float: left;
	height: 230px;
	text-align: center;
	border-top: 0px solid #ddd;
  	padding-left:0px;
}
/*
.to-let-menu-grid li:nth-child(-n+3){
	border-top: none;
}

.to-let-menu-grid li:nth-child(3n-1),
.to-let-menu-grid li:nth-child(3n-3) {
	box-shadow: 1px 0 0 #ddd;
}
*/

.to-let-menu-grid li > a {
	display: block;
	height: 100%;
	/*color: #00A7D4;*/
	color: #286090;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
}

.to-let-menu-icon {
	padding: 8px 0 0 0;
	margin:0px;
	display: block;
	-webkit-transition: -webkit-transform 0.2s;
	transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}

.to-let-menu-icon:before {
	font-family: 'menu_icon';
	font-size: 76.8px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.to-let-menu-icon-mess:before {
	content: "\e101";
}

.to-let-menu-icon-hostel:before {
	content: "\e102";
}

.to-let-menu-icon-sublet:before {
	content: "\e103";
}

.to-let-menu-icon-flat:before {
	content: "\e104";
}

.to-let-menu-icon-office:before {
	content: "\e105";
}

.to-let-menu-icon-commercial:before {
	content: "\e106";
}

.to-let-menu-icon-garage:before {
	content: "\e107";
}

.to-let-menu-icon-land:before {
	content: "\e108";
}

.to-let-menu-icon-house_others:before {
	content: "\e109";
}


.to-let-menu-icon-private:before {
	content: "\e201";
}

.to-let-menu-icon-minibus:before {
	content: "\e202";
}

.to-let-menu-icon-truck:before {
	content: "\e203";
}

.to-let-menu-icon-mbike:before {
	content: "\e204";
}

.to-let-menu-icon-rent_others:before {
	content: "\e205";
}


.to-let-menu-icon-tuition:before {
	content: "\e301";
}

.to-let-menu-icon-fulltime_job:before {
	content: "\e302";
}

.to-let-menu-icon-parttime_job:before {
	content: "\e303";
}

.to-let-menu-icon-services:before {
	content: "\e304";
}

.to-let-menu-icon-employment_others:before {
	content: "\e305";
}



.grids{margin:;}
.to-let-menu-grid .to-let-menu-title {
	margin:36px 0 10px 0;
	padding: 20px 0 0 0;
	font-size: 25px;
	position: relative;
	/*-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -moz-transform 0.2s;
	transition: transform 0.2s;*/
}

/*.to-let-menu-grid .to-let-menu-title:before {
	content: '';
	position: absolute;
	background: green;
	width: 127px;
	height: 4px;
	top: 0px;
	left: 60%;
	margin: -5px 0 0 -80px;
	-webkit-transition: margin-top 0.2s;
	-moz-transition: margin-top 0.2s;
	transition: margin-top 0.2s;
}
*/
.to-let-menu-grid .to-let-menu-category {
	display: inline-block;
	font-size: 100%;
	letter-spacing: 1px;
	color: #fff;
	-webkit-transform: translateY(10px);
	-moz-transform: -moz-translateY(10px);
	-ms-transform: -ms-translateY(10px);
	transform: translateY(10px);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	-webkit-transition: transform 0.3s, opacity 0.2s;
}

.to-let-menu-grid li:hover .to-let-menu-category,
.touch .to-let-menu-grid li .to-let-menu-category {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}


.to-let-menu-grid li > a:hover {
	background: #3BE8B0;
	text-decoration: none;
}

.to-let-menu-grid li > a:hover .to-let-menu-icon {
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
}

.to-let-menu-grid li > a:hover .to-let-menu-icon:before,
.to-let-menu-grid li > a:hover .to-let-menu-title {
	color: #fff;
	text-decoration: none;
}

.to-let-menu-grid li > a:hover .to-let-menu-title {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
	text-decoration: none;
}

.to-let-menu-grid li > a:hover .to-let-menu-title:before {
	background: #fff;
	margin-top: 68px;
}


@media screen and (max-width: 1190px) {
	.to-let-menu-grid li {
		width: 20%; /* Fallback */
		width: -webkit-calc(100% / 5);
		width: calc(100% / 5);
	}
}

@media screen and (max-width: 960px) { 
	.to-let-menu-grid li {
		width: 25%; /* Fallback */
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}
}

@media screen and (max-width: 660px) { 
	.to-let-menu-grid li {
		width: 33.3333333%; /* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}
}

@media screen and (max-width: 400px) { 
	.to-let-menu-grid li {
		width: 50%; /* Fallback */
		width: -webkit-calc(100% / 2);
		width: calc(100% / 2);
	}
}

@media screen and (max-width: 300px) { 
	.to-let-menu-grid li {
		width: 100%;
	}
}

@media screen and (max-width: 420px) { 
	.to-let-menu-grid li {
		height: 150px;
	}
	.to-let-menu-grid .to-let-menu-category {
		display: none;
	}
	.to-let-menu-grid .to-let-menu-title {
     	margin: 0;
    	padding: 0;
    	font-size: 25px;
    	position: inherit;
	}
	.to-let-menu-grid li > a:hover {
		background: #00A7D4;
	}
	.to-let-menu-grid .to-let-menu-category:hover {
		display: none;
	}
	.to-let-menu-grid li > a:hover .to-let-menu-title {
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
	}
	.to-let-menu-grid li > a:hover .to-let-menu-icon {
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
	}
	.to-let-menu-grid li > a:hover .to-let-menu-title:before {
		background: #fff;
		margin-top: 0px;
	}
	.to-let-menu-grid .to-let-menu-title:before {
	content: '';
	position: initial;
	background: #00A7D4;
	width: 0px;
	height: 0px;
	top: 0px;
	left: 0;
	margin: 0px;
	-webkit-transition: margin 0s;
	-moz-transition: margin 0s;
	transition: margin 0s;
	}
	.modal-body-left {
		width: 100%;
	}
	.modal-body-right {
		display: none;
	}
	#center-line {
		display: none;
	}
}


.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #8cbec7;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}
.thumbnail {
    border: 1px solid #adadaf;
}
.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.post-time {
    font-size: 12px;
    text-align: center;
}

.place {
    font-size: 15px;
	background-color:#CDE4EA;
	padding-left: 29%;
}
p.rent {
    font-size: 18px;
    text-align: justify;
    padding-top: 5px;
}
a.details {
    margin-bottom: 10px;
    border-color: #7402B7;
    background-color: rgba(101, 228, 91, 0.02);
    border-width: 2px;
    color: black;
}
a.details:hover{
	border-color: #1A88E6;
	background-color: rgb(163, 164, 246);
	color: #28185a;
}
.thumbnail:hover {
    background-color: #CDE4EA;
}
.category strong {
    color: #17aa56;
}

/* Ads View */
@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome/fontawesome.eot');
	src:url('../fonts/fontawesome/fontawesomed41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome/fontawesome.ttf') format('truetype'),
		url('../fonts/fontawesome/fontawesome.svg#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Main container */
.tolet-view-switcher {
	padding: 20px;
	border: 3px solid #014B62;
}

/* options/select wrapper with switch anchors */
.tolet-ads-view-options {
	text-align: right;
	margin-top: 6px;
	padding-top: 0;
	border-top: 3px solid #014B62;
}

.tolet-ads-view-options a {
	display: inline-block;
	width: 40px;
	height: 40px;
	overflow: hidden;
	white-space: nowrap;
	color: #d0d0d0;
	margin: 2px;
}

.tolet-ads-view-options a:hover,
.tolet-ads-view-options a.tolet-ads-view-selected {
	color: #014B62;
}

.tolet-ads-view-options a:before {
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 30px;
	text-align: center;
	display: inline-block;
}

/* General style of switch items' list */

.tolet-ads-view-switcher ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Clear eventual floats */
.tolet-ads-view-switcher ul:before, 
.tolet-ads-view-switcher ul:after { 
	content: " "; 
	display: table; 
}

.tolet-ads-view-switcher ul:after { 
	clear: both; 
}

.tolet-ads-view-switcher ul li {
	display: block;
	position: relative;
	border: 2px solid #7d7b7b;
	margin: 3px;
	#eee
}

.tolet-ads-view-switcher ul li:hover {
	border: 2px solid #CDE4EA;
	background-color: #CDE4EA;
}

.tolet-ads-view-image {
	display: block;
	margin: 0 auto;
}

.tolet-ads-view-image img {
	display: inline-block;
	border: none;
	max-height: 203px;
	min-height: 200px;
	width: 100%;
}

.tolet-ads-view-title h4 {
	margin: 2px 0;
}

.tolet-ads-view-title {
	margin: 0;
	padding: 0;
}

.ad-time a {
	color: #696969;
	font-size: small;
}

.ad-category {
	color: #17aa56;
	font-size: larger;
}

.tolet-ads-view-price p {
	color: #014B62;
	margin: 1px 0;
	font-size: large;
}

.tolet-ads-view-price h5 {
	color: #fff;
	background: #014B62;
	padding: 10px 20px;
	border-radius: 2px;
	margin: 0;
	display: inline-block;
	transition: background 0.2s;
}

.tolet-ads-view-add {
	color: #fff;
	background: #014B62;
	padding: 10px 20px;
	border-radius: 2px;
	margin: 0;
	display: inline-block;
	transition: background 0.2s;
}

.tolet-ads-view-add:hover {
	color: #fff;
	background: #02639d;
}

.tolet-ads-view-add:before {
	margin-right: 5px;
}

/* Common icon styles */
.tolet-ads-view-icon:before {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.tolet-ads-view-grid:before {
	content: "\f00a";
}

.tolet-ads-view-list:before {
	content: "\f00b";
}


/* Individual view mode styles */

/* Large grid view */
.tolet-ads-view-view-grid ul {
	text-align: center;
}

.tolet-ads-view-view-grid ul li {
	width: 33%;
	text-align: center;
	padding: 15px;
	margin: 20px 0 0;
	display: inline-block;
	min-height: 546px;
	vertical-align: top;
}


.tolet-ads-view-view-grid .tolet-ads-view-details {
	max-width: 300px;
	min-height: 70px;
	margin: 0 auto;
} 

.tolet-ads-view-view-grid .tolet-ads-view-price {
	margin: 2px 0;
}


/* List view */
.tolet-ads-view-view-list li {
	padding: 20px 0;
	white-space: nowrap;
}

.tolet-ads-view-view-list .tolet-ads-view-details,
.tolet-ads-view-view-list .tolet-ads-view-price,
.tolet-ads-view-view-list .tolet-ads-view-add {
	display: inline-block;
	vertical-align: middle;
}

.tolet-ads-view-view-list .tolet-ads-view-image {
	width: 20%;
	display: inline-block;
	margin-left: 4px;
}

.tolet-ads-view-view-list .tolet-ads-view-title {
	padding: 0 10px;
	white-space: normal;
	width: 78%;
	display: inline-block;
	vertical-align: top;
}

.tolet-ads-view-view-list .tolet-ads-view-price {
	text-align: center;
}

.tolet-ads-view-view-list .tolet-ads-view-details {
	width: 67%;
	padding: 0 15px;
	overflow: hidden;
	white-space: normal;
}

.tolet-ads-view-view-list .tolet-ads-view-add {
	margin: 0;
}

@media screen and (max-width: 66.7em) {
	.tolet-ads-view-view-grid ul li {
		width: 48%;
		min-height: 622px;
		max-height: 622px;
	}
	.tolet-ads-view-view-list .tolet-ads-view-details  {
		width: 55%;
	}
	.tolet-ads-view-image img {
		max-height: 245px;
		min-height: 245px;
	}
} 

@media screen and (max-width: 57em) {
	.tolet-ads-view-view-grid ul li {
		width: 49%;
	}
	.tolet-ads-view-image img {
		max-height: 184px;
		min-height: 298px;
	}
}

@media screen and (max-width: 47.375em) {
	.tolet-ads-view-view-grid ul li {
		min-height: 622px;
		max-height: 622px;
	}
	.tolet-ads-view-view-list .tolet-ads-view-image {
		width: 20%;
	}

	.tolet-ads-view-view-list .tolet-ads-view-title {
		width: 80%;
	}

	.tolet-ads-view-view-list .tolet-ads-view-details  {
		display: block;
		width: 100%;
		margin: 2px 0;
	}

	.tolet-ads-view-view-list .tolet-ads-view-add  {
		margin: 10px;
	}

	.tolet-ads-view-view-list .tolet-ads-view-price {
		display: block;
		margin: 2px 0;
	}

	.ad-category {
		display: inline-block;
	}
	.tolet-ads-view-image img {
		max-height: 225px;
	}
}

@media screen and (max-width: 40.125em) {
	.tolet-ads-view-view-grid ul li {
		width: 100%;
		min-height : 655px;
	}
	.tolet-ads-view-image img {
		max-height: 222px;
	}
}

@media screen and (max-width: 22.250em) {
	.tolet-ads-view-view-grid ul li {
		max-height : auto;
	}
}

/* Ads Details */
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
      margin: auto;
  }
}

.modal-body {
    overflow: auto;
    max-height: auto;
}

.to_details {
	background: #e9f1f5;
	height: auto;
	padding-bottom: 20px;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
	margin-top: 10px;

}
.to_details p {
	margin: 0;
}
.to_details img {
	max-width: 100%;
}
.to_details h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 5px 0 10px;
	text-transform: uppercase;
	margin-top: 5px;
    margin-bottom: 10px;
}
.to_details ul {
	font-size: 15px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 2px;
	color: #000000;
}
.to_details ul li {
	padding: 0 0 2px 0;
	display: block;
}


.to_side {
	background: #eae5e4;
	height: auto;
	padding: 15px;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
	margin-top: 10px;
}

.more-ads a img {
	max-height: 170px;
}

.user-action-manage {
	border-left: 2px solid #a9a8a8;
    bottom: 5px;
}

#myADS {
    width: 34px;
    height: 30px;
    border: 2px solid #757575;
    -webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
    background-color: #585858;
}

@-webkit-keyframes mymove {
    50% {border-radius: 50px;}
}

/* Standard syntax */
@keyframes mymove {
    50% {border-radius: 50px;}
}

/* Img Slider */

        .jssora05l, .jssora05r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 40px;
            cursor: pointer;
            background: url('../img/a17.png') no-repeat;
            overflow: hidden;
        }
        .jssora05l { background-position: -10px -40px; }
        .jssora05r { background-position: -70px -40px; }
        .jssora05l:hover { background-position: -130px -40px; }
        .jssora05r:hover { background-position: -190px -40px; }
        .jssora05l.jssora05ldn { background-position: -250px -40px; }
        .jssora05r.jssora05rdn { background-position: -310px -40px; }

        /* jssor slider thumbnail navigator skin 01 css */
        /*
        .jssort01 .p            (normal)
        .jssort01 .p:hover      (normal mouseover)
        .jssort01 .p.pav        (active)
        .jssort01 .p.pdn        (mousedown)
        */
        .jssort01 .p {
            position: absolute;
            top: 0;
            left: 0;
            width: 72px;
            height: 72px;
        }
        
        .jssort01 .t {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
        }
        
        .jssort01 .w {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
        }
        
        .jssort01 .c {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 68px;
            height: 68px;
            border: #000 2px solid;
            box-sizing: content-box;
            background: url('../img/select.png') -800px -800px no-repeat;
            _background: none;
        }
        
        .jssort01 .pav .c {
            top: 2px;
            _top: 0px;
            left: 2px;
            _left: 0px;
            width: 68px;
            height: 68px;
            border: #000 0px solid;
            _border: #fff 2px solid;
            background-position: 50% 50%;
        }
        
        .jssort01 .p:hover .c {
            top: 0px;
            left: 0px;
            width: 70px;
            height: 70px;
            border: #fff 1px solid;
            background-position: 50% 50%;
        }
        
        .jssort01 .p.pdn .c {
            background-position: 50% 50%;
            width: 68px;
            height: 68px;
            border: #000 2px solid;
        }
        
        * html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c {
            /* ie quirks mode adjust */
            width /**/: 72px;
            height /**/: 72px;
        }
        
/* Create Post */

.catelist{
	padding:0px 0px 0px 0px;
	}

.subcate{
	padding:6px;
	border-style:solid;
	border-width:0 1px 1px 0;
	border-color:#ccc;
}
.subcate{
	background-color:#B4A996;
	color:#FFF;
	font-weight:normal
}
.subcate-text{
	color:#FFFFFF;
	font-size:18px;
	text-decoration:
}
.commercial-text{
	font-size:14px;
	}
.fulltime-text{
	font-size:16px;
	}
.parttime-text{
	font-size:16px;
	}
.others-house-text{
	font-size: 16px;
	}
.others-rent-text{
	font-size: 16px;
	}
.others-employment-text{
	font-size: 16px;
	}


.subcate-icon {
	padding: 0px 0 0 0;
	margin:0px;
	display: block;
	-webkit-transition: -webkit-transform 0.2s;
	transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}

.subcate-icon:before {
	font-family: 'menu_icon';
	font-size: 40px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.subcate-icon-mess:before {
	content: "\e101";
}

.subcate-icon-hostel:before {
	content: "\e102";
}

.subcate-icon-sublet:before {
	content: "\e103";
}

.subcate-icon-flat:before {
	content: "\e104";
}

.subcate-icon-office:before {
	content: "\e105";
}

.subcate-icon-commercial:before {
	content: "\e106";
}

.subcate-icon-garage:before {
	content: "\e107";
}

.subcate-icon-land:before {
	content: "\e108";
}

.subcate-icon-house_others:before {
	content: "\e109";
}


.subcate-icon-private:before {
	content: "\e201";
}

.subcate-icon-minibus:before {
	content: "\e202";
}

.subcate-icon-truck:before {
	content: "\e203";
}

.subcate-icon-mbike:before {
	content: "\e204";
}

.subcate-icon-rent_others:before {
	content: "\e205";
}


.subcate-icon-tuition:before {
	content: "\e301";
}

.subcate-icon-fulltime_job:before {
	content: "\e302";
}

.subcate-icon-parttime_job:before {
	content: "\e303";
}

.subcate-icon-services:before {
	content: "\e304";
}

.subcate-icon-employment_others:before {
	content: "\e305";
}
/* CSS Document */



/* Need to add class

a {
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #404d5b;
}

.container {
	margin: 0 auto;
	overflow: hidden;
}

.content {
	font-size: 150%;
	padding: 3em 0;
}

.content h2 {
	margin: 0 0 2em;
	opacity: 0.1;
}

.content p {
	margin: 1em 0;
	padding: 5em 0 0 0;
	font-size: 0.65em;
}

*/


/* Help */
.tabs {
    position: relative;
	margin: 40px auto;
	width: 750px;
}

.tabs input {
	position: absolute;
	z-index: 1000;
	width: 120px;
	height: 40px;
	left: 0px;
	top: 0px;
	opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
	cursor: pointer;
}
.tabs input#tab-2{
	top: 40px;
}
.tabs input#tab-3{
	top: 80px;
}


.tabs label {
	background: #014B62;
	font-size: 15px;
	line-height: 40px;
	height: 40px;
	position: relative;
	padding: 0 20px;
	display: block;
	color: #17aa56;
	letter-spacing: 1px;
	text-transform: none;
	font-weight: bold;
	text-align: center;
	float: left;
	clear: both;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    border-radius: 3px 0 0 3px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

.tabs label:after {
    content: '';
	background: #fff;
	position: absolute;
	right: -2px;
	top: 0;
	width: 2px;
	height: 100%;
}

.tabs input:hover + label {
	background: #00A7D4;
	color: #014B62;
}

.tabs label:first-of-type {
    z-index: 4;
}

.tab-label-2 {
    z-index: 3;
}

.tab-label-3 {
    z-index: 2;
}


.tabs input:checked + label {
    background: #fff;
	z-index: 6;
}

.clear-shadow {
	clear: both;
}

.content {
    background: #fff;
	position: relative;
    width: auto;
	margin: -175px 0 0 120px;
	height: 400px;
	z-index: 5;
	overflow: hidden;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
}

.content div {
    position: absolute;
	top: 0;
	padding: 10px 40px;
	z-index: 1;
    opacity: 0;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.content div{
	-webkit-transform: translateY(-450px);
	-moz-transform: translateY(-450px);
	-o-transform: translateY(-450px);
	-ms-transform: translateY(-450px);
	transform: translateY(-450px);
}

.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-selector-3:checked ~ .content .content-3,
.tabs input.tab-selector-4:checked ~ .content .content-4 {
    -webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
    z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all ease-out 0.3s 0.3s;
    -moz-transition: all ease-out 0.3s 0.3s;
    -o-transition: all ease-out 0.3s 0.3s;
    -ms-transition: all ease-out 0.3s 0.3s;
    transition: all ease-out 0.3s 0.3s;
}

.content div h2,
.content div h3{
	color: #014B62;
}
.content div p {
	font-size: 14px;
	line-height: 22px;
	font-style: italic;
	text-align: left;
	margin: 0;
	color: #777;
	padding-left: 15px;
	border-left: 8px solid rgba(63,148,148, 0.1);
}


/* Input con us */

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 400px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}


/* Jiro */
.input--jiro {
	margin-top: 2em;
}

.input__field--jiro {
	padding: 0.85em 0.5em;
	width: 100%;
	background: transparent;
	color: #DDE2E2;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.input__label--jiro {
	position: absolute;
	left: 0;
	padding: 0 0.85em;
	width: 100%;
	height: 100%;
	text-align: left;
	pointer-events: none;
}

.input__label-content--jiro {
	-webkit-transition: -webkit-transform 0.3s 0.3s;
	transition: transform 0.3s 0.3s;
}

.input__label--jiro::before,
.input__label--jiro::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--jiro::before {
	border-top: 2px solid #6a7989;
	-webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
	transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.input__label--jiro::after {
	z-index: -1;
	background: #6a7989;
	-webkit-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.input__field--jiro:focus,
.input--filled .input__field--jiro {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.input__field--jiro:focus + .input__label--jiro .input__label-content--jiro,
.input--filled .input__label-content--jiro {
	-webkit-transform: translate3d(0, -80%, 0);
	transform: translate3d(0, -80%, 0);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__field--jiro:focus + .input__label--jiro::before,
.input--filled .input__label--jiro::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.input__field--jiro:focus + .input__label--jiro::before,
.input--filled .input__label--jiro::before {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--jiro:focus + .input__label--jiro::after,
.input--filled .input__label--jiro::after {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

/* Postads */
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin-top: .3em;
	width: 100%;
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #5BC0DE;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

/* Individual styles */

/* Ruri */
.input__field--ruri {
	width: 100%;
	background: transparent;
	padding: 0.5em 0;
	margin-bottom: 2em;
	color: #000;
}

.input__label--ruri {
	width: 100%;
	position: absolute;
	text-align: left;
	font-size: 1em;
	padding: 10px 0 5px;
	pointer-events: none;
}

.input__label--ruri::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 7px;
	background: #9B9292;
	left: 0;
	top: 100%;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
}

.input__label-content--ruri {
	padding: 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.3s, color 0.3s;
	transition: transform 0.3s, color 0.3s;
}

.input__field--ruri:focus + .input__label--ruri::after,
.input--filled .input__label--ruri::after {
	background: #a3d39c;
	-webkit-transform: scale3d(1, 0.25, 1);
	transform: scale3d(1, 0.25, 1);
}

.input__field--ruri:focus + .input__label--ruri .input__label-content--ruri,
.input--filled .input__label--ruri .input__label-content--ruri {
	color: #051024;
	-webkit-transform: translate3d(0, 2.2em, 0) scale3d(0.655, 0.655, 1);
	transform: translate3d(0, 2.2em, 0) scale3d(0.655, 0.655, 1);
}

/* Reg */

.contentreg {
	font-size: 150%;
	padding: 0 0 3em 0;
}

.contentreg h2 {
	margin: 0 0 2em;
	opacity: 0.1;
}

.contentreg p {
	margin: 1em 0;
	padding: 5em 0 0 0;
	font-size: 0.65em;
}


body .nomargin-bottom {
	margin-bottom: 0;
}







.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 400px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

/* Individual styles */

/* Nao */
.input--nao {
	overflow: hidden;
	padding-top: 1em;
}

.input__field--nao {
	padding: 0.5em 0em 0.25em;
	width: 100%;
	background: transparent;
	color: #9da8b2;
	font-size: 1.25em;
}

.input__label--nao {
	position: absolute;
	top: 0.95em;
	font-size: 0.85em;
	left: 0;
	display: block;
	width: 100%;
	text-align: left;
	padding: 0em;
	pointer-events: none;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.3s 0.1s, color 1s;
	transition: transform 0.3s 0.1s, color 1s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.graphic--nao {
	stroke: #92989e;
	pointer-events: none;
	-webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
	transition: transform 0.7s, stroke 0.7s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
} 

.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
	color: #333;
	-webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
	transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
	stroke: #333;
	-webkit-transform: translate3d(-66.6%, 0, 0);
	transform: translate3d(-66.6%, 0, 0);
}


.grid {
	padding: 10px 10px 50px 10px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 220px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	background: #2c3f52;
	color: #ed4e6e;
}

.grid figcaption h4 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption span:before {
}

.grid figcaption a {
	text-align: center;
	padding: 0px 0px 0px 5px;
	border-radius: 0px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}


.postads_style li {
	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	perspective: 1700px;
	-webkit-perspective-origin: 0 50%;
	-moz-perspective-origin: 0 50%;
	perspective-origin: 0 50%;
}

.postads_style figure {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.postads_style figure > div {
	overflow: hidden;
}

.postads_style figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .postads_style figure:hover img,
.postads_style figure.cs-hover img {
	-webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}

.postads_style figcaption {
	height: 100%;
	width: 50%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .postads_style figure:hover figcaption,
.postads_style figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.postads_style figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}



@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 50px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 100px;
	}
}

.tl_shortcut{
  z-index: 9999;
  width:100%;
  height:240px;
  position:fixed;
  right:0px;
  bottom:0px;
  pointer-events:none;
}
.tl_btns_shortcut{
  right:0;
  bottom:75px;
  position:absolute;
  display:none;
  -webkit-transition: opacity 0.3s ease-in;
       -moz-transition: opacity 0.3s ease-in;
        -ms-transition: opacity 0.3s ease-in;
         -o-transition: opacity 0.3s ease-in;
            transition: opacity 0.3s ease-in;
  pointer-events:all;
}
.tl_btns_shortcut.show{
  display:block;
  opacity: 1;
}
.tl_btns_shortcut button{
  width:40px;
  height:40px;
  border-radius:100%;
  background:rgba(1, 201, 254, 0.64);
  margin-bottom:12px;
  margin-right:26px;
  padding:0;
  border:none;
  outline:none;
  color:#ffffff;
  font-size: 19px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;  
  pointer-events:all;
  cursor: pointer;
}
.tl_btns_shortcut button:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.32), 0 3px 6px rgba(0,0,0,0.46);
}
button.tl_main_btn{
  background-color:#00A7D4;
  width:48px;
  height:48px;
  border-radius:100%;
  background:#00A7D4;
  right:22px;
  bottom:30px;
  position:absolute;
  margin-right:0;
  margin-bottom:0;
  padding:0;
  border:none;
  outline:none;
  color:#ffffff;
  font-size:24px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor: pointer;
  pointer-events:all;
}
button:hover.tl_main_btn{
  box-shadow: 0 3px 6px rgba(0,0,0,0.32), 0 3px 6px rgba(0,0,0,0.46);
}
.tl_main_btn span{
  transition:.5s;
}
.tl_main_btn.rotate {
  transform:rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

@media screen and (max-width: 442px) {
	.details-container, .details-section, .details-panel, .to_details {
		padding-left: 2px;
		padding-right: 2px;
	}
	.to_description span p {
		padding-left: 1%;
		padding-right: 1%;
	}
	.details-panel-contact {
		padding: 1.5%
	}
}
.design{
	border-style: solid;
	display: inline-block;
	border-radius: 5px;
	border-width: 4px;
	border-color: #788CB6;
}
.successfull{
	font-size: 26px;
	color: red;
	border: solid;
	border-radius: 12px;
}
#footer1 ul li a{
	color:green;
}
.amar-acc{
	width:30%;
	float: right;
}
.pagi{
	width: 30%;
	float: left;
	margin-left: 350px;

}
.dropdown{
	margin: 10px;
	

}
.dropdown a {
	font-size: 25px;
	text-decoration: none;
	color: #49176D;

	border-style: solid;
	display: inline-block;
	border-radius: 5px;
	border-width: 4px;
	border-color: #788CB6;
}
.user{
	width:30%;
	display: inline-block;
	padding: 6px 12px;
	margin-top: 12px;
	font-size: 20px;
	font-weight: 400;
	text-align: center;

}
.subProduct{
      border: 1px solid black;
      height: 510px;
     
      overflow: hidden;
      padding: 10px;
      margin-bottom: 20px;
    }
    .about h1{
    	text-align: center;
    	text-decoration: underline;
    }
    .about p{
    	font-size: 18px;

    	margin: 50px 50px 50px 50px;
    	padding: 3px;
    	text-align: justify;
    }
	